.navbar {
  background-color: #333;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.links a.active-link {
  background-color: #555;
  border-radius: 5px;
}

.links a:hover {
  background-color: #444;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .links {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .links a {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
